.hp-s3-relative {
  color: var(--red);
  padding-top: 22rem;
  border: 1px solid purple;
  width: 100%;
  margin: auto;
  position: relative;
  text-align: center;
}

.hp-s3-relative img {
  display: block;
  object-fit: cover;
  height: 90vh;
  width: 65%;
  left: 0;
}

.hp-s3-text-heading {
  border: 1px solid pink;
  position: absolute;
  top: 11rem;
  width: 100%;
}

.hp-s3-text-body {
  border: 1px solid turquoise;
  position: absolute;
  top: 26rem;
  right: calc(3rem + 3vw);

  text-align: left;
}

.hp-s3-text-body hr {
  border: 2px solid var(--red);
}

.hp-s3-text-body h4 {
  padding-bottom: .5rem;
} 

.hp-s3-text-body .icon {
  fill: var(--red);
}

.email {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0 .5rem 0 0;
} 

.h5-email {
  display: flex;
  align-items: center;
  
}