.s3-relative {
  color: var(--red);
  padding-top: 22rem;
  border: 1px solid purple;
  width: 100%;
  margin: auto;
  position: relative;
  text-align: center;
}

.s3-relative img {
  display: block;
  object-fit: cover;
  height: 90vh;
  width: 65%;
  left: 0;
}

.s3-text-heading {
  border: 1px solid pink;
  position: absolute;
  top: 11rem;
  /* right: calc(3rem + 3vw); */
   /* transform: translate(-50%); 
   left:  50%; */
width: 100%;

}

.s3-text-body {
  
  border: 1px solid turquoise;
  position: absolute;
  top: 26rem;
  right: calc(3rem + 3vw);
  /* left: 55vw; */
  text-align: left;
  /* width: 55vw; */
}
/* 
.s3-text-body h5 {
  text-align: justify;
  text-justify: inter-word;
  width: 65%;
}
 */

 .s3-text-body hr {
  border: 2px solid var(--red);
  
}