.s3-relative {
  padding-top: 16rem;
  border: 1px solid purple;
  width: 100%;
  margin: auto;
  position: relative;
  text-align: center;
}

.s3-relative img {
  display: block;
  object-fit: cover;
  height: 90vh;
  width: 60%;
  left: 0;
}

.s3-text-heading {
  border: 1px solid pink;
  position: absolute;
  top: 8rem;
  left: 50%;
  transform: translate(-50%);
}

.s3-text-body {
  border: 1px solid turquoise;
  position: absolute;
  top: 21rem;
  right: calc(3rem + 3vw);
  /* left: 55vw; */
  text-align: left;
  width: 55vw;
}
/* 
.s3-text-body h5 {
  text-align: justify;
  text-justify: inter-word;
  width: 65%;
}
 */