.hamburger-wrapper {
  border-left: 2px solid black;
  display: flex;
  flex-direction: column;
  width: calc(3rem + 3vw);
  height: calc(3rem + 3vw);
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: calc(100vw - (3rem + 3vw));
  z-index: 100;
  box-sizing: border-box;
}

.hamburger-wrapper div {
  padding-left: calc((0.7rem + 0.5vw) / 5);
  display: flex;
  width: 50%;
}

.hamburger-wrapper span {
  margin: 0;
  font-family: futura-pt, sans-serif;
  font-size: calc(0.7rem + 0.5vw);
  text-transform: uppercase;
  font-weight: 700;
  width: 50%;
  align-self: flex-end;
}
