.hp-s4-relative {
  color: var(--red);
  padding-top: 10rem;
  width: 100%;
  height: 30rem;
  margin: auto;
  position: relative;
  text-align: center;
}


.hp-s4-text {
  position: absolute;
  top: 8rem;
  left: 10%;
  width: 80%;
  text-align: left;
  text-justify: auto;
  
}
.hp-s4-text-body {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  margin-left: auto;
  margin-top: 2rem;
}

.hp-s4-text-body div:nth-child(1){
  margin-right: 2rem;
}

.hp-s4-text h3{
  padding: 2rem 0 0 0;
} 

.hp-s4-text hr {
  border: 2px solid var(--red);
  margin-bottom: 1rem; 
}

.h4-border {
  width: 14rem;
  margin: 2rem 0 0 0;
}

.hp-s4-text-body button {
  margin: 0 0 2rem 0; 
} 


/* Medium devices (tablets, less than 62em (992px)) */
@media (max-width: 70em) { 

  .hp-s4-text {
    
    top: 16.5rem;
   
  }

  .hp-s4-relative {
    
    height: 45rem;
    
  }
  

}





/* Medium devices (tablets, less than 62em (992px)) */
@media (max-width: 62em) { 

  .hp-s4-text-body {
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 1rem; 
  }
  
  .hp-s4-relative {
    height: 45rem;
  }}


@media (max-width: 48em) { 

  .hp-s4-relative {
    
    height: 53rem;

  }
  
  

}


/* Medium devices (tablets, less than 62em (992px)) */
@media (max-width: 36em) { 

  .hp-s4-text {
    left: 1rem;
  }
  .hp-s4-text-body div:nth-child(1){
    
    margin-right: 0;
  }

}

  