.hp-s4-relative {
  color: var(--red);

  padding-top: 10rem;
  border: 1px solid purple;
  width: 100%;
  height: 60vh;

  margin: auto;
  position: relative;
  text-align: center;
}

.hp-s4-relative img {
  display: block;
  object-fit: cover;
  height: 60%;
  width: 40%;
  right: calc(3rem + 3vw);
  position: absolute;
}

.hp-s4-text {
  border: 1px solid pink;
  position: absolute;
  top: 10rem;
  left: 10%;
  width: 80%;
  text-align: left;
  text-justify: auto;
}

.hp-s4-text-body h5:nth-child(1){
  text-align: left;
  text-justify: auto;
}

.hp-s4-text-body hr {
  border: 2px solid var(--red);
}

.hp-s4-text-body h4 {
  border: 4px solid var(--red);
  text-align: center;
  padding: 1rem;
  width: 14rem;
}
