.s4-relative {

color: var(--red);
  

  padding-top: 8rem;
  border: 1px solid purple;
  width: 100%;
  height: 50vh;
  margin: auto;
  position: relative;
  text-align: center;
}

.s4-relative img {
  display: block;
  object-fit: cover;
  height: 60%;
  width: 40%;
  right: calc(3rem + 3vw);
  position: absolute;
}

.s4-text {
  border: 1px solid pink;
  position: absolute;
  top: 8rem;
  left: 10%;
  width: 80%;
  text-align: left;
}

.s4-text-body {
  width: 50%;
}


.s4-text-body hr {
  border: 2px solid var(--red);
  
}