.nav-link {
  text-decoration: none;
  color: var(--brownDark);
}

.news {
  font-size: 105%;
  
}

.nav-link:link {
  text-decoration: none;
}

.nav-link::visited {
  text-decoration: none;
}

.nav-link::focus {
  text-decoration: none;
}

.nav-link:hover {
  font-size: 115%;
}

.nav-link::active {
  text-decoration: none;
}
