.mp-s2-s3-wrapper {
  border: 1px solid red;
}

.mp-s2-relative {
  height: 85rem;
  border: 1px solid green;
  width: 100%;
  margin: auto;
  top: 0;
  position: relative;
  text-align: center;
  color: var(--blue);
}

.mp-s2-heading-small {
  position: absolute;
  top: -2rem;
  left: 10%;
  margin-left: -0.5rem;
}

.mp-s2-relative img {
  display: block;
  object-fit: cover;
  height: 75vh;
  width: 60%;
  position: absolute;
  right: 0;
  top: 10rem;
}

.mp-s2-menu {
  color: var(--blue);
  border: 1px solid pink;
  position: absolute;
  top: 15rem;
  left: calc(3rem + 3vw);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mp-s2-menu-text-wrapper-border {
  border: 5px solid var(--blue);
  margin-top: 2rem;
}

.mp-s2-menu-text-wrapper {
  border: 1px solid darkgreen;
  padding: 5rem 4rem;
  display: flex;
  flex-direction: column;
}

.mp-s2-menu-text-wrapper h2 {
  border: 1px solid red;
  align-self: flex-start;
}

.mp-s2-menu-text {
  display: flex;
  border: 1px solid turquoise;
  text-align: left;
}

.mp-s2-menu-text div {
  border: 1px solid brown;
  padding: 2rem;
}

.mp-s2-text hr {
  border: 2px solid var(--red);
}

.mp-s3-relative {
  border: 1px solid green;
  width: 100%;
  height: 160vh;
  margin: auto;
  top: 0;
  position: relative;
  text-align: center;
  color: var(--blue);
}

.mp-s3-relative img {
  display: block;
  object-fit: cover;
  height: 95vh;
  width: 40%;
  padding-left: 10%;
}

.mp-s3-menu {
  color: var(--blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid pink;
  position: absolute;
  top: 2rem;
  right: 10%;
  text-align: center;
}

.mp-s3-menu-text-wrapper-border {
  border: 5px solid var(--blue);
  margin-top: 2rem;
}

.mp-s3-menu-text-wrapper {
  border: 1px solid darkgreen;
  padding: 5rem 4rem;
  display: flex;
  flex-direction: column;
}

.mp-s3-menu-text-wrapper h2 {
  border: 1px solid red;
  align-self: flex-end;
}

.mp-s3-menu-text {
  display: flex;
  border: 1px solid turquoise;
  text-align: left;
}

.mp-s3-menu-text div {
  border: 1px solid brown;
  padding: 2rem;
}

.mp-s3-text hr {
  border: 2px solid var(--red);
}


.mp-s2-menu h4, .mp-s3-menu h4 {
  display: inline-block;
  margin: 0;
  padding-bottom: 1rem;
  line-height: 1.5rem;
}

.mp-s2-menu h5, .mp-s3-menu h5 {
  text-justify: auto;
  text-align: left;
}