.mp-s2-relative {
  height: 100rem;
  width: 100%;
  margin: auto;
  top: 0;
  position: relative;
  text-align: center;
  color: var(--blue);
}

.mp-s2-heading-small {
  position: absolute;
  top: -2.5rem;
  left: 10%;
  margin-left: -0.5rem;
}

.mp-s2-relative img {
  display: block;
  object-fit: cover;
  height: 75vh;
  width: 60%;
  position: absolute;
  right: 0;
  top: 10rem;
}

.mp-s2-menu {
  color: var(--blue);
  position: absolute;
  top: 15rem;
  left: calc(3rem + 3vw);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mp-s2-menu-text-wrapper {
  border: 5px solid var(--blue);
  margin-top: 1rem;
  padding: 5rem 4rem;
  display: flex;
  flex-direction: column;
  /* width: 90%; */
}

.mp-s2-menu-text-wrapper h2 {
  align-self: flex-start;
}

.mp-s2-menu-text {
  display: flex;
  text-align: left;
  padding-top: 2rem;
  justify-content: center;
}

.mp-s2-text hr {
  border: 2px solid var(--red);
}

.mp-s3-relative {
  width: 100%;
  height: 80rem;
  margin: auto;
  top: 0;
  position: relative;
  text-align: center;
  color: var(--blue);
}

.mp-s3-relative img {
  display: block;
  object-fit: cover;
  height: 95vh;
  width: 40%;
  padding-left: 10%;
}

.mp-s3-menu {
  color: var(--blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 2rem;
  right: 10%;
  text-align: center;
}

.mp-s3-menu-text-wrapper {
  border: 5px solid var(--blue);
  padding: 5rem 4rem;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.mp-s3-menu-text-wrapper h2 {
  align-self: flex-end;
}

.mp-s3-menu-text {
  display: flex;
  justify-content: center;
  text-align: left;
  padding-top: 2rem;
}

.mp-s3-text hr {
  border: 2px solid var(--red);
}

.mp-s2-menu h4,
.mp-s3-menu h4 {
  display: inline-block;
  margin: 0;
  padding-bottom: 1rem;
  line-height: 1.5rem;
}

.mp-s2-menu h5,
.mp-s3-menu h5 {
  text-justify: auto;
  text-align: left;
}

@media (max-width: 75em) {
  .mp-s2-relative {
    height: 160rem;
  }

  .mp-s2-menu-text {
    flex-wrap: wrap;
  }

  .mp-s2-menu {
    width: 80%;
    left: 10%;
  }

  .mp-s2-relative img {
    height: 95vh;
    top: 50rem;
    width: 50%;
  }

  .mp-s3-relative {
    height: 105rem;
  }
  .mp-s3-menu-text {
    flex-wrap: wrap;
  }

  .mp-s3-menu {
    width: 80%;
  }

  .mp-s3-relative img {
    height: 85vh;
    width: 50%;
    left: 0;
    padding-left: 0;
    position: absolute;
  }
}

@media (max-width: 48em) {
  .mp-s2-s3-wrapper div {
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    border: none;
  }
}
