.ap-s3-relative {
  color: var(--red);
  padding-top: 10rem;
  width: 100%;
  height: 60vh;
  margin: auto;
  position: relative;
  text-align: center;
}

.ap-s3-text {
  position: absolute;
  top: 5rem;
  right: 10%;
  text-align: left;
}

.ap-s3-text-body hr {
  border: 2px solid var(--red);
  width: 100%;
}

.h5-email .email {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.5rem 0.5rem 0 0;
  fill: var(--red);
}

.h5-email {
  display: flex;
  align-items: flex-start;
}

.h5-email h5 {
  padding-top: 0.3rem;
}

/* Medium devices (tablets, less than 62em (992px)) */
@media (max-width: 75em) {
  .ap-s3-text {
    top: 5rem;
    right: auto;
    left: 10%;
    width: 80%;
   
  }

  .ap-s3-relative {
    
    height: 45vh;
   
  }
  
}
