.np-s1-background {
    background-color: var(--grey);
    height: 115vh;
  }
  
  .np-s1-relative {
    
    width: 100%;
    margin: auto;
    top: 12rem;
    position: relative;
    color: var(--brownDark);
    text-align: center;
    display: flex;
  }
  
  
  .np-s1-relative img {
    display: block;
    object-fit: cover;
    height: 70vh;
    width: 80%;
    margin: auto;
    opacity: .9; 
  }
  
  .np-s1-heading {
    color: var(--white);
    
    position: absolute;
    top: -4.5rem;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
  }
  
  .np-s1-text-body {
    color: var(--white);
    
    position: absolute;
    top: 10rem;
    right: 0;
   width: 40%; 
    text-align: left;
    
  }
  
  .np-s1-text-body h3 {
    border-bottom: .4rem solid var(--white);
    padding-bottom: 2rem;
     width: 100%;
     right: 0;
  }
  
  
/* Devices (tablets, less than 70em (px)*/
@media screen and (max-width: 70em) {
  
  .np-s1-background {
    height: 100vh;
  }
  
}
  
   /* Small devices (landscnpe phones, less than 48em (768px  ) */
   @media (max-width: 62em) { 
    .np-s1-text-body {
     
     width:60%; 
      
    }
  
   } 
  
  /* Small devices (landscnpe phones, less than 48em (768px  ) */
   @media (max-width: 48em) { 
    .np-s1-relative {
      width: 100%;
      top: 8rem;  
    }
  
    .np-s1-heading {
      top: -2.5rem;
    } 
  
  
   } 
  
   /* Small devices (landscnpe phones, less than 48em (768px  ) */
   @media (max-width: 36em) { 
    .np-s1-text-body {
     width: 80%;
     left: auto;
     right: 0; 
      
    }
  
   } 