.mp-s4-wrapper {
  background-color: var(--green);
}

.mp-s4-relative {
  height: 87rem;

  width: 100%;
  margin: auto;
  top: 0;
  position: relative;
  text-align: center;
  color: var(--yellowLight);
}

.mp-s4-heading-small {
  position: absolute;
  top: -2.5rem;
  left: 10%;
  margin-left: -0.5rem;
}

.mp-s4-relative img {
  display: block;
  object-fit: cover;
  height: 75vh;
  width: 60%;
  position: absolute;
  right: 0;
  top: 10rem;
}

.mp-s4-menu {
  color: var(--yellowLight);
  position: absolute;
  top: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: calc(3rem + 3vw);
}

.mp-s4-menu-text-wrapper {
  border: 5px solid var(--yellowLight);
  margin-top: 1rem;
  padding: 5rem 4rem;
  display: flex;
  flex-direction: column;
}

.mp-s4-menu-text-wrapper h2 {
  align-self: flex-start;
}

.mp-s4-menu-text {
  display: flex;
  text-align: left;
  padding-top: 2rem;
  justify-content: center;
}

.mp-s4-text hr {
  border: 2px solid var(--red);
}

.mp-s4-menu h4 {
  display: inline-block;
  margin: 0;
  padding-bottom: 1rem;
  line-height: 1.5rem;
}

.mp-s4-menu h5 {
  text-justify: auto;
  text-align: left;
}

@media (max-width: 75em) {
  .mp-s4-relative {
    height: 110rem;
  }

  .mp-s4-menu-text {
    flex-wrap: wrap;
  }

  .mp-s4-menu {
    width: 80%;
    left: 10%;
  }

  .mp-s4-relative img {
    height: 100vh;
    width: 50%;
  }
}

@media (max-width: 48em) {
  .mp-s4-wrapper div {
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    border: none;
  }

  .mp-s4-wrapper h2 {
    border: none;
    text-align: left;
  }
}
