.ap-s2-relative {
  padding-top: 19vh;
  width: 100%;
  margin: auto;
  position: relative;
  text-align: center;
}

.ap-s2-relative img {
  display: block;
  object-fit: cover;
  height: 110vh;
  width: 50%;
  margin-right: calc(10% + 8rem);
  margin-left: auto;
}

.ap-s2-text {
  color: var(--red);
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: flex-end;
  justify-content: space-between;
  position: absolute;
  top: 29vh;
  left: 10%;
  right: 10%;
}

.ap-s2-text-body {
  text-align: left;
  padding-top: 0.6rem;
}

.ap-s2-heading {
  text-align: right;
  align-self: flex-end;
}

.ap-s2-heading h2 {
  margin-right: -2.2rem;
  padding-bottom: 0.5rem;
}

.ap-s2-text hr {
  border: 2px solid var(--red);
}

/* Medium devices (tablets, less than 62em (992px)) */
@media (max-width: 75em) {
  .ap-s2-relative {
    height: 81rem;
  }

  .ap-s2-relative img {
    position: absolute;
    margin-right: 0;
    right: 5rem;
    margin-left: auto;
    height: 85vh;
  }


  .ap-s2-text {
  
    top: 13rem;
    
  }

}

@media (max-width: 62em) {
  .ap-s2-relative {
    height: 98rem;
  }

  .ap-s2-relative img {
    right: auto;
    left: 0;
    margin-left: auto;
    height: 35rem;
    width: 100%;
  }
  .ap-s2-text {
    top: 70vh;
  }
}

@media (max-width: 48em) {
  .ap-s2-relative {
    height: 120rem;
  }
  .ap-s2-text {
    top: 100vh;
  }

  .ap-s2-heading h2 {
    margin-right: 0;
  }
}

@media (max-width: 36em) {
  .ap-s2-relative {
    height: 130rem;
  }
}

@media (max-width: 30em) {
  .ap-s2-relative {
    height: 135rem;
  }
}
