.header-wrapper {
  height: calc(3rem + 3vw);
  padding-right: 10rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  /* border: 1px solid orange; */
}

.logo-wrapper {
  
  margin: 0 1.5rem;
  display: flex;
  padding: .5rem 1rem;
  border-left: 2px solid var(--black);
  border-right: 2px solid var(--black);
  
}

.logo-wrapper h4{
  margin: 0;
  padding: 0;
  white-space: nowrap;
 
}
.logo-wrapper .logo {
  margin:0;
  padding: 0 1rem .1rem 0;
  width: 2rem;
  
}

.nav-wrapper {
    width: 100%; 

  /* border: 1px solid red; */
}

.nav-wrapper nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header-wrapper nav h4 {
  padding-right: 3rem ;
  margin: 0;
}

.header-wrapper nav h4:last-child {
  padding-right: 0rem;
}

/* Small devices (landscape phones, less than 48em (768px ) */
@media screen and (max-width: 62em) {
  .nav-wrapper {
    display: none;
  }

}


/* Small devices (landscape phones, less than 48em (768px ) */
@media screen and (max-width: 32em) {
 
  .logo-wrapper .hidden-logo{
    display: none;
   
  }

}
