.hp-s2-relative {
  padding-top: calc(18rem + 30vh);
  width: 100%;
  margin: auto;
  position: relative;
  text-align: center;
}

.hp-s2-relative img {
  display: block;
  object-fit: cover;
  height: 110vh;
  width: 50%;
  margin-right: calc(10% + 8rem);
  margin-left: auto;
}

.hp-s2-text {
  color: var(--red);
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: flex-end;
  justify-content: space-between;
  position: absolute;
  top: calc(23rem + 30vh);
  left: 10%;
  right: 10%;
}

.hp-s2-text-body {
  text-align: left;
  padding-top: 0.6rem;
}

.hp-s2-heading {
  text-align: right;
  align-self: flex-end;
}

.hp-s2-heading h2 {
  margin-right: -2.2rem;
  padding-bottom: 0.5rem;
}

.hp-s2-text hr {
  border: 2px solid var(--red);
}




/* Devices (tablets, less than 70em (px)*/
@media screen and (max-width: 70em) {
 .hp-s2-relative {
    padding-top: calc(25rem + 30vh);
    
  } 


.hp-s2-relative img {
  height: 60rem;
}

.hp-s2-text {
  top: calc(1rem + 30vh);
}

}

/* Medium devices (tablets, less than 62em (992px)) */
@media (max-width: 62em) { 
  .hp-s2-relative {
    height: 55rem; 
  }
  
  .hp-s2-text {
    top: 16rem;
    left: 1rem;
  }

  .hp-s2-relative img {
    height: 52rem; 
    position: absolute;
    top: 50rem;
    bottom: 0;
    right: 0;
    width: 90%;
    margin: 0;
  }

  
 }
