.header-wrapper {
  display: flex;
border: 1px solid yellow;
justify-content: space-between;
height: calc(3rem + 3vw);
padding-bottom: 10vh;
    /* justify-content: space-around;
    align-items: flex-start; */
    /* border: 1px solid yellow; */
   /*  height: 40rem;
     */
   /* position: relative; */
    /* top: 0;
    left: 0; */
}

.logo {
    padding-left: calc((3rem + 3vw) / 4);
    border: 1px solid pink;
    width: 5rem;
    align-self: center;

}

.header-wrapper nav{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding-right: calc((3rem + 3vw) / 4 + 5rem);
    border: 1px solid red;
    width: 100%;
}
 
.header-wrapper nav h4{
    padding-right: 3rem;
    

}

.header-wrapper nav h4:last-child{
    padding-right: 0rem;
} 

.nav-link {
    text-decoration: none;
    color: black;
}

.news {
    color: hotpink;
  } 

.nav-link:hover {
    color: yellow;
    font-size: 110%;
  }