.footer {
    background-color: beige;
    height: 60rem;
} 


.footer-relative {
    border: 1px solid red;
    width: 35rem;
    margin: auto;
    top: 8rem;
    position: relative;
    text-align: center;
}

.footer-relative img {
    display: block;
    object-fit: cover;
    height: 40rem;
    width: 30rem;
    margin:auto;
}



.footer h2 {
    border: 1px solid pink;
    position: absolute;
    top: -3.5rem;
    margin-left: .8rem; 
    left: 50%;
    transform: translate(-50%);
} 


.footer-text{
    border: 1px solid pink;
    position: absolute;
    top: 5rem;
    margin-left: .8rem; 
    left: 50%;
    transform: translate(-50%);
} 



.footer-social{
    border: 1px solid pink;
    position: absolute;
    bottom: 2rem;
    width: 100%;
    text-align: left;
   /*  margin-left: .8rem; 
    left: 50%;
    transform: translate(-50%);  */
} 


.icon {
    width: 2rem;
    height: 2rem;
    padding-left: 1rem;
    left: 0;
}


.footer-logo {
    position: absolute;
    bottom: -6rem;
    left: 50%;
    transform: translate(-50%);
}


/* 
.footer-text{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 20rem;
   width: 100%;
}   */