.hp-s1-background {
  background-color: var(--blueLight);
  height: 110vh;
}

.hp-s1-relative {
  width: 80%;
  margin: auto;
  position: relative;
  top: 10rem;
}

.hp-s1-text {
  color: var(--yellow);
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translate(-50%);
  width: 60%;
}

.hp-s1-text hr {
  border: 2px solid var(--yellow);
  width: 100%;
}

.hp-s1-text div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
}

.hp-s1-text h1 {
  letter-spacing: 0;
  margin-right: -0.4rem;
}

.hp-s1-text div .m-letter {
  margin-left: 2rem;
}

.hp-s1-text .miri {
  margin-right: -1.5rem;
}

.hp-s1-text .h3-wrapper {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.hp-s1-text .h3-wrapper h3 {
  letter-spacing: 0;
}

.hp-s1-text .h3-wrapper .f-letter,
.r-letter {
  margin-left: 0.8rem;
}

.hp-s1-relative img {
  display: block;
  object-fit: cover;
  height: 140vh;
  width: 100%;
  top: 0;
}

/* Devices (tablets, less than 70em (px)*/
@media screen and (max-width: 70em) {
  .hp-s1-text {
    width: 60vw;
  }

  .hp-s1-background {
    height: 80vh;
  }

  .hp-s1-relative img {
    height: 90vh;
  }
}

/* Medium devices (tablets, less than 67em (992px)*/
@media screen and (max-width: 60em) {
  .hp-s1-text {
    width: 70vw;
  }


}

/* Small devices (landscape phones, less than 48em (768px  ) */
@media (max-width: 48em) {
  .hp-s1-relative {
    width: 100%;
    top: 5rem;
  }
}

/* Small devices (landscape phones, less than 48em (768px  ) */
@media (max-width: 36em) {
  .hp-s1-text {
    width: 90vw;
  }
}

@media (max-width: 22em) {
  .hp-s1-text h1 {
    font-size: 3rem;
    letter-spacing: 1rem;
    line-height: 4rem;
  }

  .hp-s1-text h3 {
    font-size: 1rem;
  }
}

@media (max-width: 19em) {
  .hp-s1-text h1 {
    font-size: 2rem;
  }
}
