.mp-s5-s6-wrapper {
  border: 1px solid red;
  background-color: var(--blueLight);
}

.mp-s5-relative {
  border: 1px solid green;
  width: 100%;
  height: 82rem;
  margin: auto;
  top: 0;
  position: relative;
  text-align: center;
  color: var(--red);
}

.mp-s5-relative img {
  display: block;
  object-fit: cover;
  height: 95vh;
  width: 40%;
  position: absolute;
  left: 10%;
  top: 22rem;
}

.mp-s5-menu {
  color: var(--red);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid pink;
  position: absolute;
  top: 10rem;
  right: 10%;
  text-align: center;
}

.mp-s5-menu-text-wrapper-border {
  border: 5px solid var(--red);
  margin-top: 2rem;
}

.mp-s5-menu-text-wrapper {
  border: 1px solid darkgreen;
  padding: 5rem 4rem;
  display: flex;
  flex-direction: column;
}

.mp-s5-menu-text-wrapper h2 {
  border: 1px solid red;
  align-self: flex-end;
}

.mp-s5-menu-text {
  display: flex;
  border: 1px solid turquoise;
  text-align: left;
}

.mp-s5-menu-text div {
  border: 1px solid brown;
  padding: 2rem;
}

.mp-s5-text hr {
  border: 2px solid var(--red);
}

.mp-s6-relative {
  height: 80rem;
  border: 1px solid green;
  width: 100%;
  margin: auto;
  top: 0;
  position: relative;
  text-align: center;
  color: var(--red);
}

.mp-s6-heading-small {
  position: absolute;
  top: -2rem;
  left: 10%;
  margin-left: -0.5rem;
}

.mp-s6-relative img {
  display: block;
  object-fit: cover;
  height: 75vh;
  width: 60%;
  position: absolute;
  right: 0;
  top: 0rem;
}

.mp-s6-menu {
  color: var(--red);
  border: 1px solid pink;
  position: absolute;
  top: 5rem;
  left: calc(3rem + 3vw);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mp-s6-menu-text-wrapper-border {
  border: 5px solid var(--red);
  margin-top: 2rem;
}

.mp-s6-menu-text-wrapper {
  border: 1px solid darkgreenLight;
  padding: 5rem 4rem;
  display: flex;
  flex-direction: column;
}

.mp-s6-menu-text-wrapper h2 {
  border: 1px solid red;
  align-self: flex-start;
}

.mp-s6-menu-text {
  display: flex;
  border: 1px solid turquoise;
  text-align: left;
}

.mp-s6-menu-text div {
  border: 1px solid brown;
  padding: 2rem;
}

.mp-s6-text hr {
  border: 2px solid var(--red);
}

.mp-s5-menu h4, .mp-s6-menu h4 {
  display: inline-block;
  margin: 0;
  padding-bottom: 1rem;
  line-height: 1.5rem;
}

.mp-s5-menu h5, .mp-s6-menu h5 {
  text-justify: auto;
  text-align: left;
}