.mp-s5-s6-wrapper {
  background-color: var(--blueLight);
}

.mp-s5-relative {
  width: 100%;
  height: 82rem;
  margin: auto;
  top: 0;
  position: relative;
  text-align: center;
  color: var(--red);
}

.mp-s5-relative img {
  display: block;
  object-fit: cover;
  height: 95vh;
  width: 40%;
  position: absolute;
  left: 10%;
  top: 22rem;
}

.mp-s5-menu {
  color: var(--red);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 10rem;
  right: 10%;
  text-align: center;
}

.mp-s5-menu-text-wrapper-border {
  border: 5px solid var(--red);
  margin-top: 2rem;
}

.mp-s5-menu-text-wrapper {
  padding: 5rem 4rem;
  display: flex;
  flex-direction: column;
}

.mp-s5-menu-text-wrapper h2 {
  align-self: flex-end;
}

.mp-s5-menu-text {
  display: flex;
  justify-content: center;
  text-align: left;
  padding-top: 2rem;
}

.mp-s5-text hr {
  border: 2px solid var(--red);
}

.mp-s6-relative {
  height: 85rem;
  width: 100%;
  margin: auto;
  top: 0;
  position: relative;
  text-align: center;
  color: var(--red);
}

.mp-s6-heading-small {
  position: absolute;
  top: -2rem;
  left: 10%;
  margin-left: -0.5rem;
}

.mp-s6-relative img {
  display: block;
  object-fit: cover;
  height: 75vh;
  width: 60%;
  position: absolute;
  right: 0;
  top: 0rem;
}

.mp-s6-menu {
  color: var(--red);
  position: absolute;
  top: 5rem;
  left: calc(3rem + 3vw);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mp-s6-menu-text-wrapper-border {
  border: 5px solid var(--red);
  margin-top: 2rem;
}

.mp-s6-menu-text-wrapper {
  padding: 5rem 4rem;
  display: flex;
  flex-direction: column;
}

.mp-s6-menu-text-wrapper h2 {
  align-self: flex-start;
}

.mp-s6-menu-text {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  text-align: left;
}

.mp-s6-text hr {
  border: 2px solid var(--red);
}

.mp-s5-menu h4,
.mp-s6-menu h4 {
  display: inline-block;
  margin: 0;
  padding-bottom: 1rem;
  line-height: 1.5rem;
}

.mp-s5-menu h5,
.mp-s6-menu h5 {
  text-justify: auto;
  text-align: left;
}

@media (max-width: 75em) {
  .mp-s5-relative {
    height: 100rem;
  }
  .mp-s5-menu-text {
    flex-wrap: wrap;
  }

  .mp-s5-menu {
    width: 80%;
  }

  .mp-s5-relative img {
    height: 140vh;
    width: 50%;
    right: 0;
    left: auto;
    position: absolute;
  }

  .mp-s6-relative {
    height: 120rem;
  }

  .mp-s6-menu-text {
    flex-wrap: wrap;
  }

  .mp-s6-menu {
    width: 80%;
    left: 10%;
  }

  .mp-s6-relative img {
    height: 80vh;
    width: 50%;
  }
}

@media (max-width: 48em) {
  .mp-s5-s6-wrapper div {
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    border: none;
  }

  .mp-s5-s6-wrapper h2 {
    text-align: left;
  }

  .mp-s5-menu-text-wrapper h2 {
    font-size: 2.8rem;
  }
}
