.hp-s5-s6-background {
  margin-top: 19rem;
  background-color: var(--pinkWarm);
  height: 230vh;
}

.hp-s5-relative hr,
.hp-s6-relative hr {
  border: 2px solid var(--blue);
}

.hp-s5-relative {
  color: var(--blue);
  border: 1px solid pink;
  position: relative;
  top: 1rem;
  height: 90vh;
}

.hp-s5-relative img {
  position: absolute;
  top: -9rem;
  right: 10%;
  display: block;
  object-fit: cover;
  height: 90vh;
  width: 70%;
}

.hp-s5-relative h2 {
  position: absolute;
  top: -12.25rem;
  left: 50%;
  transform: translate(-50%);
}

.hp-s5-text-body {
  border: 1px solid pink;
  position: absolute;
  top: 8rem;
  left: 10%;
  width: 50%;
  text-align: left;
}

.hp-s6-relative {
  color: var(--blue);
  border: 1px solid pink;
  position: relative;
  top: 8rem;
  width: 100%;
}

.hp-s6-relative img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  object-fit: cover;
  height: 90vh;
  width: 65%;
}

.hp-s6-relative h2 {
  border: 1px solid pink;
  position: absolute;
  top: -3.25rem;
  width: 100%;
  text-align: center;
}

.hp-s6-text-body {
  border: 1px solid turquoise;
  position: absolute;
  top: 13rem;
  right: calc(3rem + 3vw);
  text-align: left;
}

.hp-s5-text-body button, .hp-s6-text-body button{
  background-color: var(--blue);
  color: var(--pinkWarm);
  white-space: nowrap;

}

.h3-latest-post {
  margin-top: 3rem;
}
