.s5-s6-background {
  margin-top: 20rem;
  background-color: lightblue;
  height: 220vh;
}

.s5-relative {
  border: 1px solid pink;
  position: relative;
  top: 0rem;
  height: 90vh;
}

.s5-relative img {
  position: absolute;
  top: -10rem;
  right: calc(3rem + 3vw);
  display: block;
  object-fit: cover;
  height: 90vh;
  width: 80%;
}

.s5-relative h2 {
  position: absolute;
  top: -13.5rem;
  left: 50%;
  transform: translate(-50%);
}

.s5-text-body {
  border: 1px solid pink;
  position: absolute;
  top: 8rem;
  left: 10%;
  width: 50%;
  text-align: left;
}

.s6-relative {
  border: 1px solid pink;
  position: relative;
  top: 10rem;
}

.s6-relative img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  object-fit: cover;
  height: 90vh;
  width: 80%;
}

.s6-relative h2 {
  border: 1px solid pink;
  position: absolute;
  top: -3.5rem;
  width: 100%;
  text-align: center;
}

.s6-text-body {
  border: 1px solid pink;
  position: absolute;
  top: 8rem;
  left: 10%;
  width: 50%;
  text-align: left;
}

