.ap-wrapper {
    background-color: var(--greyLight);
}

.all-post-wrapper {
    width: 80vw;
    margin: 8rem auto;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

.all-post-wrapper img {
    max-height: 20rem;
    width: 100%;
    display: block;
    object-fit: cover;
}