@import url('https://use.typekit.net/kbg5qyn.css');

body {
  margin: 0;
  font-family: futura-pt, sans-serif;
}

h1 {
font-size: 78px;
text-transform: uppercase;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
}

h3 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h4, h5 {
  font-family: nunito, sans-serif;
  font-style: normal;
  font-weight: 500;
}
