@import url('https://use.typekit.net/kbg5qyn.css');

body {
  margin: 0;
  font-family: futura-pt, sans-serif;

}

h4, h5 {
  font-family: nunito, sans-serif;
  font-style: normal;
  font-weight: 500;
}
