@import url('https://use.typekit.net/kbg5qyn.css');


body {
  margin: 0;
  font-family: futura-pt, sans-serif;
  
}
 /* 
.app-wrapper {
    border: 1px solid brown;
}   
 */



h1 {
font-size: calc(3rem + 4vw);
/* font-size: 7rem; */
letter-spacing: calc(1rem + 1vw);
/* letter-spacing: 2rem; */
text-transform: uppercase;
font-weight: 300;
/* 
font-size: calc(3rem + 5vw);
letter-spacing: calc(1rem + 1vw); */
}

h2 {
  font-size: 5.5rem;
  letter-spacing: 1.5rem;
text-transform: uppercase;
font-weight: 300;
margin: 0;
}

h3 {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h4 {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}


h5 {
  font-size: 1rem;
  letter-spacing: .1rem;
  font-family: nunito, sans-serif;
  font-style: normal;
  font-weight: 500;
}
