@import url("https://use.typekit.net/kbg5qyn.css");

body {
  margin: 0;
  font-family: futura-pt, sans-serif;
  height: 100%;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

hr {
  border: 1px solid black;
}

h1 {
  font-size: calc(3rem + 4vw);
  letter-spacing: calc(1rem + 1vw);
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 0;
}

h2 {
  font-size: calc(2rem + 4vw);
  letter-spacing: calc(0.8rem + 1vw);
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
}

/* h3 {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
} */

h4 {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

h5 {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-family: nunito, sans-serif;
  font-style: normal;
  font-weight: 500;
  text-align: justify;
  text-justify: inter-word;
  max-width: 30rem;
}

/* 

// Large devices (desktops, less than 75em (1200px))
@media (max-width: 1199.98px) { ... }

// Medium devices (tablets, less than 62em (992px))
@media (max-width: 991.98px) { ... }

// Small devices (landscape phones, less than 48em (768px ) )
@media (max-width: 767.98px) { ... }

// Extra small devices (phones, less than 36em (576px))
@media (max-width: 575.98px) { ... }

// Smallest device (Iphone SE, less than 20em  (320px))
@media (max-width: 319.98px) { ... }

*/
