@import url("https://use.typekit.net/kbg5qyn.css");

:root {
  --black: #000000;
  --grey: #b8b8b7;
  --greyDark: #2f2f30;
  --greyLight: #f0f0f0;
  --white: #ffffff;
  --orange: #ff7000;
  --orangeDark: #ee6802;
  /* fb770d fe7f2d */
  --brownDark: #3e3d34;
  --brownDarkDark: #24231d;
  --brown: #585850;
  /* change? */
  --brownLight: #9fa0a0;
  --yellow: #faf160;
  --yellowLight: #fff9a9;
  /* change? */
  /* --orange: #FFB33F; */
  --red: #ee5b62;
  --redDark: #b82d34;
  --pinkWarm: #f5c2bf;
  --pinkCold: #f8dce7;
  --blue: #2b10bf;
  --blueDark: #1e0eaa;
  /* #2b10bf; */
  --blueLight: #b3d4fc;
  --green: #8bc4c4;
  --greenLight: #d3e7e7;
  --beige: #eee8da;
  /* change? */
  --blueLogo: #00acf0;
}

body {
  margin: 0;
  font-family: futura-pt, sans-serif;
  height: 100%;
}

.loading {
  display: none;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}


h1 {
  font-size: 6.5rem;
  letter-spacing: 2.3rem;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  margin: 0;
  line-height: 9rem;
}

h2 {
  font-size: 5rem;
  letter-spacing: 1.9rem;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
}

.h2-small {
  font-size: 4rem;
  letter-spacing: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 600;
  margin: 0.5rem 0;
  width: 30rem;
}

h4 {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-weight: 600;
  margin: 3rem 0 0 0;
}

.h4-border {
  border: 4px solid var(--red);
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-weight: 600;
  margin: 1rem 0 0 0;
  text-align: center;
  padding: 1rem;
  width: 100%;
}

h5 {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-family: nunito, sans-serif;
  font-style: normal;
  font-weight: 500;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.7rem;
  max-width: 25rem;
  margin: 0;
}

h6 {
  font-size: 1rem;
  font-weight: 400;
  margin: 1rem 0;
}


hr {
  margin: 1.5rem 0 3rem 0;
  width: 100%;
}

button {
  background-color: var(--red);
  border: none;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-weight: 600;
  display: block;
  color: var(--beige);
  padding: 1rem 2rem;
  margin: 1rem 0 3rem 0;
  text-decoration: none;
}


 button a{
  text-decoration: none;
  color: var(--beige);
} 


button a:link {
  text-decoration: none;
  color: var(--beige);
}

button a:visited {
  text-decoration: none;
  color: var(--beige);
}
button a:focus {
  text-decoration: none;
  color: var(--beige);
}

button a:hover {
  font-size: 115%;
  color: var(--beige);
}

button a:active {
  text-decoration: none;
  color: var(--beige);
}



.icon {
  width: 2rem;
  height: 2rem;
  padding: 1rem 1rem 0 0;
}


/*********
 // Small devices (tablets, landscape phones, less than 48em (768px ) )
*/



@media (max-width: 48em) { 
 

h1 {
  font-size: 4.5rem;
  letter-spacing: 1.2rem;
  line-height: 5rem;
  
}
 /*  font-size: 6.5rem;
  letter-spacing: 2.3rem;
  line-height: 9rem;
 */

h2 {
  font-size: 3rem;
      letter-spacing: 1rem;
      
}

.h2-small {
  font-size: 3rem;
      letter-spacing: 1rem;
      
}

h3 {
  width: auto;
 
}
}



  

/* 

// Large devices (desktops, less than 75em (1200px))
@media (max-width: 1199.98px) { ... }

// Medium devices (tablets, less than 62em (992px))
@media (max-width: 991.98px) { ... }

// Small devices (tablets, landscape phones, less than 48em (768px ) )
@media (max-width: 767.98px) { ... }

// Extra small devices (phones, less than 36em (576px))
@media (max-width: 575.98px) { ... }

// Smallest device (Iphone SE, less than 20em  (320px))
@media (max-width: 319.98px) { ... }

*/
