.one-post-page-wrapper {
    background-color: var(--pinkWarm);
    color: var(--brownDark);
}

.one-post-wrapper {
    width: 80vw;
        margin: auto;
        
        display: flex;
        flex-direction: column;
        padding: 2rem 0 7rem 0;
        color: var(--brownDark);
    }

    .arrow-icon {
        width: 1.5rem;
        fill: var(--brownDark);
        margin: 0 0 3rem auto;
        padding: .2rem;
        border: 1px solid var(--brownDark);
    }


    .arrow-link {
        text-decoration: none;
        color: var(--brownDark);
      }
    
      .arrow-link:link {
        text-decoration: none;
      }
      
      .arrow-link:visited {
        text-decoration: none;
      }
      
      .arrow-link:focus {
        text-decoration: none;
      }
      
      .arrow-link .arrow-icon:hover {
        width: 2rem;
      }
      
      .arrow-link:active {
        text-decoration: none;
      }
      
    .one-post-heading {
        display:flex;
        align-items: center;
        justify-content: space-between;
        
    }


    
 .one-post-wrapper img {
        max-height: 40rem;
        width: 100%;
        display: block;
        object-fit: cover;
        padding: 1rem 0 3rem 0;
    } 
 .block-content-h5 {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-family: nunito, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;

 }

    .one-post-wrapper hr {
        border: 3px solid var(--brownDark);
       
        /* padding: 0; */
         
      }

    .author-wrapper {
        padding-top: 3rem;
        display: flex;
        align-items: center;
        
        
    }


    .author-wrapper h4{
       
        margin: 0;
        border-right: 2px solid var(--brownDark);
        padding: 0 1rem 0 0;
    }
  
    .author-wrapper .author-img {
        height: 2rem;
        width: 2rem;
        margin: 0 1rem 0 0;
        padding: 0;
        display: block;
        object-fit: cover;
        /* border-left: 2px solid var(--brownDark); */
        
    }

   

@media (max-width: 48em) { 

    .one-post-heading {
        flex-direction: column;
    }
  
  
  }
