.ap-s1-background {
  background-color: var(--blueLight);
  height: 115vh;
}

.ap-s1-relative {
  width: 100%;
  margin: auto;
  top: 12rem;
  position: relative;
  color: var(--brownDark);
  text-align: center;
  display: flex;
}

.ap-s1-relative img {
  display: block;
  object-fit: cover;
  height: 70vh;
  width: 80%;
  margin: auto;
  opacity: 0.9;
}

.ap-s1-heading {
  color: var(--brownDark);

  position: absolute;
  top: -4.5rem;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
}

.ap-s1-text-body {
  color: var(--brownDark);
  
  position: absolute;
  top: 10rem;
  right: 0;
 width: 40%; 
  text-align: left;
  
}

.ap-s1-text-body h3 {
  border-bottom: .4rem solid var(--brownDark);
  padding-bottom: 2rem;
   width: 100%;
   right: 0;
}




@media (max-width: 62em) { 
  .ap-s1-text-body {
   
   width:60%; 
    
  }

 } 

/* Small devices (landscape phones, less than 48em (768px  ) */
@media (max-width: 48em) {
  .ap-s1-relative {
    width: 100%;
    top: 8rem;
  }

  .ap-s1-heading {
    top: -2.5rem;
  }


}

/* Small devices (landscape phones, less than 48em (768px  ) */
@media (max-width: 36em) {
  .ap-s1-text-body {
    width: 80%;
    left: auto;
    right: 0; 
  }
}
