.ap-s1-background {
  background-color: var(--blueLight);
  height: 115vh;
}

.ap-s1-relative {
  border: 1px solid red;
  width: 100%;
  margin: auto;
  top: 12rem;
  position: relative;
  color: var(--brownDark);
  text-align: center;
  display: flex;
}

.ap-s1-relative img {
  display: block;
  object-fit: cover;
  height: 70vh;
  width: 80%;
  margin: auto;
}

.ap-s1-heading {
  color: var(--brownDark);
  border: 1px solid pink;
  position: absolute;
  top: -4.5rem;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
}

.ap-s1-text-body {
  color: var(--brownDark);
  border: 1px solid orange;
  position: absolute;
  top: 10rem;
  right: 0;
 width: 30rem; 
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


.ap-s1-text-body h2 {
  border: 1px solid darkgreen;
  padding-right: 12vw; 
  margin-right: -1.5rem;
}


.ap-s1-text-body h3 {
  border: 1px solid darkgreen;
   margin-right: 12vw; 
   
}




.ap-s1-text-body hr {
  border: 2px solid var(--white);
  width: 30rem;
  right: 0;
}
