.ap-s1-background {
  background-color: var(--blueLight);
  height: 115vh;
}

.ap-s1-relative {
  border: 1px solid red;
  width: 100%;
  margin: auto;
  top: 12rem;
  position: relative;
  color: var(--brownDark);
  text-align: center;
  display: flex;
}




.ap-s1-relative img {
  display: block;
  object-fit: cover;
  height: 70vh;
  width: 80%;
  margin: auto;
  opacity: .9; 
}

.ap-s1-heading {
  color: var(--brownDark);
  border: 1px solid pink;
  position: absolute;
  top: -4.5rem;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
}

.ap-s1-text-body {
  color: var(--brownDark);
  border: 1px solid orange;
  position: absolute;
  top: 10rem;
  right: 0;
 width: 40%; 
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.ap-s1-text-body h2 {
  border: 1px solid darkgreen;
  
}

.ap-s1-text-body h3 {
  border: 1px solid darkgreen;
   
}

.ap-s1-text-body hr {
  border: 2px solid var(--brownDark);
  width: 100%;
  right: 0;
}


/* Small devices (landscape phones, less than 48em (768px  ) */
 @media (max-width: 48em) { 
  .ap-s1-relative {
    width: 100%;
    top: 8rem;  
  }

  .ap-s1-heading {
    top: -2.5rem;
  } 
/* 
  .ap-s1-text-body {
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: flex-end;
  } */
  

 } 

 /* Small devices (landscape phones, less than 48em (768px  ) */
 @media (max-width: 36em) { 
  .ap-s1-text-body {
   
    top: 17rem;
    right: auto;
    left: 1rem;
   width: auto; 
    
  }
/* 
  .ap-s1-text-body {
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: flex-end;
  } */
  

 } 